# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.xcworkspace/xcuserdata/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# Carthage
Carthage/Build/

# CocoaPods
Pods/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Code signing
*.mobileprovision
*.cer

# CSV data files
mytime_data.csv